RewriteEngine On

#----------
#admin
RewriteRule ^admin$ admin.php

#category
RewriteRule ^admin/category$ admin.php?controller=category
RewriteRule ^admin/category/add$ admin.php?controller=category&action=add
RewriteRule ^admin/category/do_add$ admin.php?controller=category&action=do_add
RewriteRule ^admin/category/edit/([0-9]+)$ admin.php?controller=category&action=edit&id=$1
RewriteRule ^admin/category/do_edit/([0-9]+)$ admin.php?controller=category&action=do_edit&id=$1
RewriteRule ^admin/category/delete/([0-9]+)$ admin.php?controller=category&action=delete&id=$1

#product
RewriteRule ^admin/product$ admin.php?controller=product
RewriteRule ^admin/product/add$ admin.php?controller=product&action=add
RewriteRule ^admin/product/do_add$ admin.php?controller=product&action=do_add
RewriteRule ^admin/product/edit/([0-9]+)$ admin.php?controller=product&action=edit&id=$1
RewriteRule ^admin/product/do_edit/([0-9]+)$ admin.php?controller=product&action=do_edit&id=$1
RewriteRule ^admin/product/delete/([0-9]+)$ admin.php?controller=product&action=delete&id=$1

#article
RewriteRule ^admin/article$ admin.php?controller=article
RewriteRule ^admin/article/add$ admin.php?controller=article&action=add
RewriteRule ^admin/article/do_add$ admin.php?controller=article&action=do_add
RewriteRule ^admin/article/edit/([0-9]+)$ admin.php?controller=article&action=edit&id=$1
RewriteRule ^admin/article/do_edit/([0-9]+)$ admin.php?controller=article&action=do_edit&id=$1
RewriteRule ^admin/article/delete/([0-9]+)$ admin.php?controller=article&action=delete&id=$1

#user
RewriteRule ^admin/user$ admin.php?controller=user
RewriteRule ^admin/user/add$ admin.php?controller=user&action=add
RewriteRule ^admin/user/do_add$ admin.php?controller=user&action=do_add
RewriteRule ^admin/user/edit/([0-9]+)$ admin.php?controller=user&action=edit&id=$1
RewriteRule ^admin/user/do_edit/([0-9]+)$ admin.php?controller=user&action=do_edit&id=$1
RewriteRule ^admin/user/delete/([0-9]+)$ admin.php?controller=user&action=delete&id=$1

#import
RewriteRule ^admin/import$ admin.php?controller=import
RewriteRule ^admin/import/add$ admin.php?controller=import&action=add
RewriteRule ^admin/import/do_add$ admin.php?controller=import&action=do_add
RewriteRule ^admin/import/edit/([0-9]+)$ admin.php?controller=import&action=edit&id=$1
RewriteRule ^admin/import/do_edit/([0-9]+)$ admin.php?controller=import&action=do_edit&id=$1
RewriteRule ^admin/import/delete/([0-9]+)$ admin.php?controller=import&action=delete&id=$1

#size
RewriteRule ^admin/size$ admin.php?controller=size
RewriteRule ^admin/size/add$ admin.php?controller=size&action=add
RewriteRule ^admin/size/do_add$ admin.php?controller=size&action=do_add
RewriteRule ^admin/size/edit/([0-9]+)$ admin.php?controller=size&action=edit&id=$1
RewriteRule ^admin/size/do_edit/([0-9]+)$ admin.php?controller=size&action=do_edit&id=$1
RewriteRule ^admin/size/delete/([0-9]+)$ admin.php?controller=size&action=delete&id=$1

#order
RewriteRule ^admin/order$ admin.php?controller=order
RewriteRule ^admin/order/view/([0-9]+)$ admin.php?controller=order&action=view&id=$1

#----------
#client

#home
RewriteRule ^home$ /index.php [L]

#product
RewriteRule ^category/([0-9]+)/page=([0-9]+)$ index.php?controller=product&id=$1&page=$2&action=list
RewriteRule ^product/([0-9]+) index.php?controller=product&id=$1&action=detail
#----------

#checkout
RewriteRule ^checkout$ index.php?controller=checkout

#sale
RewriteRule ^sales$ index.php?controller=sale

#article
RewriteRule ^article$ index.php?controller=article
RewriteRule ^article/([0-9]+) index.php?controller=article&id=$1&action=detail

#faq
RewriteRule ^faq$ index.php?controller=faq

#contact
RewriteRule ^contact$ index.php?controller=contact

#account
RewriteRule ^account$ index.php?controller=account

#history-order
RewriteRule ^history-order$ index.php?controller=history

#about-us
RewriteRule ^about-us$ index.php?controller=about

#404
ErrorDocument 404 http://localhost/clothes/404.php

#----------
#auth

#logout
RewriteRule ^admin/logout$ admin.php?controller=logout&type=auth

#login
RewriteRule ^login$ admin.php?controller=login&type=auth

#register
RewriteRule ^register$ admin.php?controller=register&type=auth